body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('Fondo.gif');
    background-repeat: repeat;
    animation: backgroundAnimation 15s linear infinite;
    background-position: bottom;  
  }

  header {
    background-color: #f37373;
    padding: 10px;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 20;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #0a0a0a;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
  }
  
  nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.17);
  }

  section p {
    font-size: 19px;
    font-weight: 1000;
    font-style: bold;
    line-height: 1.5;
  }
  
  h1 {
    color: #580404;
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }

  .cta {
    display: inline-block;
    background-color: #4b0511;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .cta:hover{
    background-color: #253c46;
  }
  
  #beneficios h2 {
    margin-top: 120px;
  }
  
  #beneficios ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
  }
  
  #beneficios li {
    flex: 1; /* Hace que los elementos tengan igual ancho y se ajusten horizontalmente */
    margin-bottom: 0px; /* Espacio entre elementos en la dirección vertical */
  }
  
  #beneficios img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  #beneficios li:last-child {
    margin-right: 0; /* Elimina el margen derecho de la última imagen */
  }

  
  #beneficios p {
    text-align: center;
  
  }

  #contacto {
    background-color: #e27474;
    padding: 40px;
  }
  
  #contacto h2 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #contacto input[type="text"],
  #contacto input[type="email"],
  #contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
  }
  
  #contacto textarea {
    height: 100px;
  }
  
  #contacto input[type="submit"] {
    display: block;
    background-color: #fff;
    color: #336699;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  footer {
    background-color: #444;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  /* Estilos para los botones de inicio de sesión y registro */
  #botones-esquina {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 9999;
    transition: top 0.5s ease;
  }
  
  #botones-esquina button {
    font-family: 'Montserrat', sans-serif;
    background-color: #656880;
    color: #ffffff;
    border: none;
    padding: 7px 18px;
    border-radius: 20px;
    font-size: 17px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  
  #botones-esquina button:hover {
    background-color: #88b1da;
  }

  